input.error {
    background-color: yellow;
    //margin-top:30px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #E0E0E0;
    margin:20px;
}

h1 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:23px;
    font-weight:bold;
    font-style: oblique;
    text-align: center;
    margin-top: 30px;
    padding:0;
}

#pokeball{
    content:url('pokeball.png');
    width:100pt;
    height:100pt;    
}

.fix{
    position:fixed;
    bottom: 15px;
    left:48%;
} 
    
/*hr {
    border:none;
    border-top:1px solid #CCCCCC;
    height:60px;
    margin-bottom:25px;
    background-color: black;
}*/

#message {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: larger;
    margin-top: 75px;
    margin-left: 20px;
    color: #404040;
}

#legend {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: larger;
    margin-top: 90px;
    color: #404040;
}

#form {
    margin-top: 30px;
    margin-left: 20px;
}

table.basic {
    border-collapse: collapse;
    margin-left: 20px;
}

table.basic th, table.basic td {
    border: solid 1px black;
    padding: 5px;
}

#content {
    padding: 10px;
    margin-left: 30px;
}

#tabs {
    float:left;
    width:100%;
    background:#F4F4F4;
    font-size:100%;
    line-height:20px;
    border:1px solid black;
    border-radius: 10px 10px 0 0;
}

#tabs ul {
    margin:0;
    padding:10px 10px 0 10px;
    list-style:none;
}

#tabs li {
    display:inline;
    margin:0;
    padding:0;
}

#tabs a {
    float:left;
    background:url("tableft.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 5px;
    text-decoration:none;
}

#tabs a span {
    float:left;
    display:block;
    background:url("tabright.gif") no-repeat right top;
    padding:5px 15px 4px 6px;
    color:#24618E;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
    color:#FFF;
}

#tabs a:hover {
    background-position:0% -42px;
}

#tabs a:hover span {
    background-position:100% -42px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 20%;
  margin-left: 39%;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 15px;
}

.btn { 
    padding:5px 5px 5px 5px;
    border-radius: 5px;
    color: #24618E
}

.btn:hover {
   background-color: #24618E;
   color: #FFF
}

#tabs #line {
    float:right;
    padding-left:20px;
}